@import 'config';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

svg {
    transition: $transition-speed;
}

.flicking-camera {
    padding: 1em 0;
}

.flicking-viewport {
    border-radius: .4em;
}

.modal__slider .flicking-viewport {
    border-radius: 0;
}

.flicking-arrow-prev,
.flicking-arrow-next {
    font-size: 1rem;
    height: 0em;
    width: 0em;
    // padding: 1em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: $primary-color !important;
    opacity: .7;
    padding: .1em;
    color: white;
    z-index: 1;

    &:before,
    &:after {
        display: none;
    }

    &.flicking-arrow-disabled {
        opacity: 0;
    }
}


body .flicking-pagination-bullet {
    background: white;
    border: solid 1px black;

    &.flicking-pagination-bullet-active {
        background: black;
        border: solid 1px white;
    }
}

.flicking-pagination {
    bottom: 28px !important;
}

@keyframes rotate {
    from {
        // transform: translateY(-1em);
        width: 2em;
    }

    to {
        // transform: translateY(1em);
        width: 5em;
    }
}

.main-modal {
    width: 100% !important;
}


.card-panel {
    // width: 22em;
    width: 50%;
    padding: 0 .5em;
    height: 18.7em;
    // border: solid 1px black;
    border-radius: .3em;

    &.main-modal {
        width: 100%;
        padding: 0;
        height: auto;
        border-radius: 0;
    }

    :not(.card-panel.modal > div) {
        height: 100%;
        width: 100%;
        padding: 0;
        overflow: hidden;
        border-radius: 1em;
        // border: solid 1px black;
    }

    .codepen {
        border-radius: .6em;
        overflow: hidden;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border: none;

        &:after {
            content: "";
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;
            background: white;
        }

        &:before {
            content: "Loading...";
            height: 1.5em;
            width: 2em;
            font-size: 1.2rem;
            font-weight: bolder;
            border: transparent;
            z-index: 3;
            margin: 0 auto;
            position: absolute;
            animation-name: rotate;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;
            // transform: rotate(-90deg);
            transform-origin: bottom;
            background: rgba(128, 0, 128, 0.497);
            color: black;
            background-color: white;
            filter: invert(20%);
        }
    }
}


@media (max-width: 481px) {
    .card-panel {
        width: 100% !important;
    }
}


.codepens__content {
    width: 100%;
}

main.main-container {
    background-color: $primary-white;
    background-attachment: fixed;
    display: flex;
    width: 100%;
    justify-content: center;

    &:before {
        opacity: .1;
        content: "";
        background-color: rgba(255, 255, 255, 0.596);
        background-image: $abstract-image;
        background-size: 100em;
        background-attachment: scroll;
        background-blend-mode: multiply;
        // background-blend-mode: ;
        // filter: hue-rotate(45deg);
        height: 150vh;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 0;
    }


    &.darkmode {
        background: $primary-color;

        &:before {
            opacity: .09;
            background-color: $secondary-color;
            background-image: $abstract-image;
            background-blend-mode: color-burn;
            // background-blend-mode: multiply;
            // filter: hue-rotate(0deg);
        }
    }

    &:after {
        content: "";
        opacity: .5;
        // background: var(--primary-color);
        // background-image: $abstract-image;
        background-position-y: 3em;
        background-size: cover;
        background-repeat: no-repeat;
        // background-image: url("/images/header_line flow.svg"); // background-size: 130%;
        height: 140vh;
        filter: grayscale(100%);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        pointer-events: none;
    }

    aside {
        padding: 1em 05em;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .content {
        width: 100%;
        max-width: 79em;
        border-left: solid 1px var(--secondary-color);
        border-right: solid 1px var(--secondary-color);
        // height: 400em;
    }
}

@media (max-width: 1090px) {
    .card-panel {
        width: 90%;
    }

    main.main-container {
        &:after {
            content: "";
            background-position-x: 77%;
            background-size: 73em;
            background-position-y: 7em;
        }

    }
}

.copyright {
    position: absolute;
    bottom: 1em;
    left: 0em;
    width: 100%;
    text-align: center;
    font-size: 0.7rem;
    color: #564c87;
}

@media (max-width: 768px) {
    main.main-container {
        .card-panel {
            // width: 22em;
            width: 80%;
        }


        .overlay {
            width: 100%;
            height: 100vh;
            position: fixed;
            background: rgba(255, 255, 255, 0.434);
            pointer-events: auto;
            box-shadow: 10px 0px 14px 0px #f1f1f1ec;
            z-index: 3;

            &.darkmode {
                background: rgba(25, 22, 39, 0.34);
                box-shadow: 10px 0px 14px 0px #19162726;
            }

            &.active {
                opacity: 0;
                pointer-events: none;
            }
        }

        .content {
            border: none;
            max-width: auto;
        }

        aside:first-child {
            display: none;
        }

        aside:last-child.navigation {
            position: fixed;
            width: 70%;
            background-color: white;
            transition: $secondary-transition-speed;
            left: 0;
            z-index: 3;
            transform: translateX(0);

            &.darkmode {
                background-color: $primary-color;
            }

            &.active {
                left: -70%;
            }

            &__inner-container {
                max-width: 15em;
                left: 0;
                position: absolute;
                height: 100%;

            }

            // &__menu{
            //     top: 13em !important;
            // }

            .copyright {
                left: 0;
                text-align: left;
                width: initial;
                padding-left: 5em;
            }
        }
    }
}